# node env (development, production)
NODE_ENV=production

# setup your slack app tokens
SLACK_USER_TOKEN="xoxp-"
SLACK_BOT_TOKEN="xoxb-"
SLACK_APP_TOKEN="xapp-"
SLACK_SIGNING_SECRET=""

# setup your slack app tokens for rest api service
SLACK_BOT_TOKEN_REST="xoxb-"

# setup your database properties
MONGO_ACCOUNT=service
MONGO_PASSWORD=
MONGO_HOST=slackbot-server-db.vdp.oc.vmware.com
MONGO_PORT=27017
MONGO_DB=slackbot
# not schdule all notifications when start
ENABLE_SCHEDULE=true
# Slack admin can see and manage all notification configs
# zhouhuang WABLDNVSS, ysixuan W014JNC8Q93, yayang1 WAA2UBYEL, rogerw WAA316ZH6, lzoe U02CA5G4VU4
ADMIN_USER_ID=["WABLDNVSS", "W014JNC8Q93", "WAA2UBYEL", "WAA316ZH6", "U02CA5G4VU4"]
ADMIN_VMWARE_ID=["zhouhuang","ysixuan","yayang1","rogerw","lzoe"]
# Report error log to issue channel slackbot-monitor
ISSUE_CHANNEL_ID="C026LRRM7T4"
# listener port
PORT=3000
# p4 configs
P4USER=svc.vsan-er
P4PORT=ssl:perforce.eng.vmware.com:1666
# service account
SERVICE_ACCOUNT=svc.vsan-er
SERVICE_PASSWORD="""
# logger path
LOGGER_PATH="../persist/log/"
LOGGER_NAME=server
# wiki page login account used in updating vsan nanny duty roster
WIKI_LOGIN_USER=lzoe
WIKI_LOGIN_PASSWORD=bXlWTTI0QDEyNiRjb20=
# confluence page personal token used in updating nannys on confluence page
CONFLUENCE_PAGE_TOKEN=NDQ3MjU1OTUwMTg4OphdIDsJaKczQpwDjOUm3MhJc7jL
